<div class="card-list-container py-5">

  <div class="card w-50 mx-auto mt-4 shadow-lg">

    <div class="card-body">

      <h1>いいねした投稿一覧</h1>
      
    </div>

  </div>

</div>

        <%= render partial: "user/posts/post", collection: @favorite_posts %>

